@using Common.DTO;
@model Common.DTO.PackageAddModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PackageModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BarcodePackage" class="control-label"></label>
                <input asp-for="BarcodePackage" class="form-control" />
                <span asp-validation-for="BarcodePackage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SentAddress" class="control-label"></label>
                <input asp-for="SentAddress" class="form-control" />
                <span asp-validation-for="SentAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationAddress" class="control-label"></label>
                <input asp-for="DestinationAddress" class="form-control" />
                <span asp-validation-for="DestinationAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
